
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url(styles/style-index.css);
@import url(styles/style-script.css);

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-background: #ffd6dd;
    --color-background2: #ffffffbe;
    --color-check: #000;
    --color-confirm: #99e9bc;
    --color-scrollbar: #ccc;
    --primary-font: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

ul {
    list-style: none;
}